<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Navbar</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
				integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
				crossorigin="anonymous">
	</head>
	<body class="m-4">

		<div th:fragment="main" class="btn-group">

			<a class="btn btn-primary" href="/home">Homepage</a>

			<!-- Paziente -->
			<div class="btn-group" role="group">
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Paziente</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/paziente/accedi">Accedi</a>
					<a class="dropdown-item" href="/paziente/registrati">Registrati</a>
				</div>
			</div>

			<!-- Medico -->
			<div class="btn-group" role="group">
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Medico</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/medico/accedi">Accedi</a>
				</div>
			</div>

			<!-- Amministratore -->
			<div class="btn-group" role="group">
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Amministratore</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/amministratore/accedi">Accedi</a>
				</div>
			</div>

		</div>

		<div th:fragment="paziente" class="btn-group">

			<a class="btn btn-primary" href="/paziente/dashboard">Dashboard</a>

			<div class="btn-group" role="group">
				<button class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown">
					Prestazioni
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/paziente/prenota">Prenota</a>
					<a class="dropdown-item" href="/paziente/prenotazioni">Visualizza</a>
				</div>
			</div>

			<a class="btn btn-primary" href="/paziente/logout">Logout</a>

		</div>

		<div th:fragment="medico" class="btn-group">

			<a class="btn btn-primary" href="/medico/dashboard">Dashboard</a>

			<div class="btn-group" role="group">
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Pazienti</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/medico/pazienti">Lista</a>
					<a class="dropdown-item" href="/medico/prenotazioni">Prenotazioni</a>
					<a class="dropdown-item" href="/medico/prenota">Prenota</a>
				</div>
			</div>

			<div class="btn-group" role="group">
				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Corsi</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Lista</a>
					<a class="dropdown-item" href="#">Partecipazioni</a>
				</div>
			</div>

			<a class="btn btn-primary" href="/medico/logout">Logout</a>

		</div>

	</body>
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
			integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
			crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
			crossorigin="anonymous"></script>
</html>
