<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Pazienti navbar</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
				integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
				crossorigin="anonymous">
	</head>
	<body>

		<div th:fragment="navbar" class="btn-group">

			<a class="btn btn-primary" href="/paziente/dashboard">Dashboard</a>

			<div class="btn-group" role="group">
				<button class="btn btn-primary dropdown-toggle"
						data-toggle="dropdown">
					Prestazioni
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/paziente/prenota">Prenota</a>
					<a class="dropdown-item" href="/paziente/prenotazioni">Visualizza</a>
				</div>
			</div>

			<a class="btn btn-primary" href="/paziente/logout">Logout</a>

		</div>

	</body>
</html>
